<main>
  <div class="share-text-container">
    <app-logo [width]="120" [useReturnToHome]="true"></app-logo>
    <h1>What will you share today?</h1>
    <div class="share-text-box">
      <div class="title-box">
        <input placeholder="Enter Title"/>
      </div>
      <div class="text-box">
        <textarea placeholder="Enter Text"></textarea>
      </div>
    </div>
    <div class="text-options-buttons">
      <app-route-button routerLink="/">Go Back</app-route-button>
      <app-route-button routerLink="/finish">Create URL</app-route-button>
    </div>
  </div>
</main>
