:host {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.share-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}

.share-text-container>h1 {
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: center;
}

.share-text-box {
	background-color: var(--main-blue-variant);
	padding: 15px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	max-width: 800px;
	margin-bottom: 20px;
}

.title-box,
.text-box {
	display: flex;
	justify-content: center;
}

.title-box {
	margin-bottom: 10px;
}

.text-box {
	height: 300px;
}

.title-box input,
.text-box textarea {
	width: 100%;
	background-color: var(--main-dark-blue-hover);
	border: none;
	padding: 10px;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	outline: none;
}

.text-box textarea {
	resize: none;
}

.title-box input {
	text-align: center;
	font-weight: bold;
	height: 40px;
	font-size: 18px;
}