<div class="contact-list-box">
  <app-add-contact-box></app-add-contact-box>
  <ul class="contact-list">
    <app-contact-list-entry contact="luciafuentes18@gmail.com"></app-contact-list-entry>
    <app-contact-list-entry contact="marketing.finance@business.co.uk"></app-contact-list-entry>
    <app-contact-list-entry contact="my.contact@protonmail.com"></app-contact-list-entry>
    <app-contact-list-entry contact="my.contact2@protonmail.com"></app-contact-list-entry>
    <app-contact-list-entry contact="my.contact3@protonmail.com"></app-contact-list-entry>
    <app-contact-list-entry contact="my.contact4@protonmail.com"></app-contact-list-entry>
  </ul>
</div>


