:host {
  outline: none;
}

.app-button {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin: 0 0.5rem;
  color: #232323;
}

.small {
  font-size: 0.95rem;
  padding: 0.9rem 1.25rem;
}

.medium {
  padding: 1.5rem 1.75rem;
  font-size: 1.10rem;
}

.space-around {
  padding: 0.9rem 1.75rem;
}

.app-button:hover {
  cursor: pointer;
  background: var(--secondary-light-beige);
}
