<main>
  <div class="share-file-container">
    <app-logo [width]="120" [useReturnToHome]="true"></app-logo>
    <h1>What will you share today?</h1>
    <div class="share-file-box">
      <h2>Drop your files here</h2>
      <div class="file-box">
        <ul class="file-list">
          <li>
            <img Src="assets/img/pdf_file.png"
                 alt="docx icons"
                 width="40"
                 height="auto"
            >
            <p>prueba.pdf</p>
          </li>
          <hr>
          <li>
            <img Src="assets/img/xlsx_file.png"
                 alt="docx icons"
                 width="40"
                 height="auto"
            >
            <p>prueba.xlsx</p>
          </li>
          <hr>
          <li>
            <img Src="assets/img/mp4_file.png"
                 alt="docx icons"
                 width="40"
                 height="auto"
            >
            <p>prueba.mp4</p>
          </li>
          <hr>
          <li>
            <img Src="assets/img/png_file.png"
                 alt="docx icons"
                 width="40"
                 height="auto"
            >
            <p>prueba.png</p>
          </li>
          <hr>
          <li>
            <img Src="assets/img/docx_file.png"
                 alt="docx icons"
                 width="40"
                 height="auto"
            >
            <p>prueba.docx</p>
          </li>
          <hr>
        </ul>
      </div>
    </div>
    <div class="file-options-buttons">
      <app-button size="small" routerLink="/">Go Back</app-button>
      <app-button size="small" routerLink="/finish">Create URL</app-button>
    </div>
  </div>
</main>
