<nav class="app-navbar" [class.navbar-ios]="isNativePhone">
	<a routerLink="/">DollyShare</a>

	@if (variant === 'guest') {
	<div class="guest-buttons">
		<app-route-button routerLink="/register">Register</app-route-button>
		<app-login-button></app-login-button>
	</div>
	}

	@if (variant === 'user') {
	<div class="user-buttons">
		<app-icon-button icon="user" (click)="toggleOptions()"></app-icon-button>
		@if (displayOptions) {
		<app-user-button-hover (closeCallback)="toggleOptions()"></app-user-button-hover>
		}
	</div>
	}
</nav>