.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.app-navbar>a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  opacity: 40%;
  font-weight: bold;
  margin-left: 20px;
}

.guest-buttons,
.user-buttons {
  margin-right: 10px;
}

@media only screen and (max-width: 400px) {
  .guest-buttons {
    margin-right: 0;
    transform: scale(0.9);
  }

  .app-navbar>a {
    margin-left: 10px;
    font-size: 18px;
  }
}
