.contact-list-entry {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;

  ::ng-deep svg {
    width: 35px;
    height: auto;
  }
}

.contact-list-entry>p {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

.contact-list-entry-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}



.contact-list-entry-options>button {
  background: none;
  border: none;
  margin-left: 5px;
}

.contact-list-entry-options>button:hover {
  cursor: pointer;

  ::ng-deep svg>path {
    stroke: rgba(0, 0, 0, 0.8);
  }
}

.contact-list-entry-options {
  ::ng-deep svg {
    width: 25px;
    height: auto;
  }
}

hr {
  width: 100%;
  margin-bottom: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 500px) {
  .contact-list-entry {
    font-size: 14px;

    ::ng-deep svg {
      width: 25px;
    }
  }

  .contact-list-entry>p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 170px;
    margin-left: 10px;
  }

  .contact-list-entry-options {
    ::ng-deep svg {
      width: 20px;
    }
  }

  .contact-list-entry-options {
    margin-right: 0px;
  }
}
