form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}

.save-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-success {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: green;
}
