.account-update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}

.user-field-updater {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-update-field {
  flex: 1;
}

.user-confirm-update-btn {
  transform: translateY(5px);
}

.change-success {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: green;
}
