.add-contact-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 70vw;
	max-width: 800px;
}

@media only screen and (max-width: 500px) {
	.add-contact-box {
		::ng-deep button {
			width: 100px !important;
		}
	}
}

.add-contact-box>input {
	width: 100%;
	outline: none;
	padding: 20px;
	background: var(--container-bg);
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 18px;
}

.add-contact-box {
	::ng-deep button {
		width: 150px;
	}
}