<main>
    <div class="download-files-container">
        <app-logo [width]="120" [useReturnToHome]="true"></app-logo>
        <h1>Components of the sheep</h1>
        <div class="download-files-box">
            <div class="download-files-tittle-box">
                <h2>The sheep is composed by" and the weight of the unit is "
                <br>Expires the  of , </h2>
            </div>
            <div class="download-files-body">
                <h3>ji</h3>
            </div>
        </div> 
        <div class="dowload-files-buttom-container">
            <a href="/">
                <app-button size="medium">Download all</app-button>
            </a>
        </div>
    </div>
</main>