<ion-content [scrollY]="true">
	<main>
		<login-validator-hook [reverseCheck]="true"></login-validator-hook>
		<div class="register-container">
			<app-logo [width]="120"></app-logo>
			<h1>Register Account</h1>
			<form class="info-box" [formGroup]="registerForm" (submit)="onSubmit()">
				<app-common-input-field class="input" [required]="true" formControlName="email" type="email" label="Email"
					placeholder="example@gmail.com" [hasError]="isTouched('email') && isInvalid('email')"
					(focusin)="registerForm.get('email')?.markAsTouched()">
				</app-common-input-field>
				@if(isTouched('email') && getValueFromForm("email").length < 1) { <p class="validation-label">*This field is
					required</p>
					}
					@if(isTouched('email') && isInvalid('email')) {
					<p class="validation-label">Invalid email format</p>
					}

					<app-common-input-field class="input" [required]="true" formControlName="username" label="Username"
						placeholder="Username" [hasError]="isTouched('username') && isInvalid('username')"
						(focusin)="registerForm.get('username')?.markAsTouched()">
					</app-common-input-field>
					@if(isTouched('username') && getValueFromForm("username").length < 1) { <p class="validation-label">*This
						field
						is required</p>
						}

						<app-common-input-field class="input" [required]="true" formControlName="password" type="password"
							label="Password" placeholder="********" [hasError]="isTouched('password') && isInvalid('password')"
							(focusin)="registerForm.get('password')?.markAsTouched()">
						</app-common-input-field>
						@if(isTouched('password') && getValueFromForm("password").length < 1) { <p class="validation-label">*This
							field is required</p>
							}
							@if(isTouched('password') && registerForm.get("password")?.errors?.['minlength'] !== null) {
							<p class="validation-label">Must be at least 8 characters</p>
							}

							<app-common-input-field class="input" [required]="true" formControlName="repeat_password" type="password"
								label="Repeat Password" placeholder="********"
								[hasError]="isTouched('repeat_password') && isInvalid('repeat_password') || passwordMatchValidator(registerForm) !== null"
								(focusin)="registerForm.get('repeat_password')?.markAsTouched()">
							</app-common-input-field>
							@if(isTouched('repeat_password') && getValueFromForm("repeat_password").length < 1) { <p
								class="validation-label">*This field is required</p>
								}
								@if(isTouched('repeat_password') && passwordMatchValidator(registerForm) !== null) {
								<p class="validation-label">Passwords do not match</p>
								}

								<div class="create-account-button">
									<app-button type="submit" [disabled]="registerForm.invalid">Create Account</app-button>
								</div>
			</form>
		</div>
	</main>
</ion-content>