.common-input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

input {
  background-color: var(--main-dark-blue-hover);
  border: 2px solid var(--secondary-beige);
  padding: 20px 15px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  outline: none;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.reveal-password-button {
  position: absolute;
  background: transparent;
  border: none;
  text-align: right;
  align-self: self-end;
  margin-top: 40px;
  margin-right: 3%;
}

.reveal-password-button:hover {
  cursor: pointer;
}

::ng-deep svg {
  opacity: 0.5;
}
