main {
  width: 100%;
  height: 85vh;
}

.finish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.finish-container>h1 {
  font-size: 48px;
  margin: 30px 0;
  text-align: center;
}

.link-box {
  background-color: #647A88;
  font-size: 20px;
  padding: 15px;
  border-radius: 8px;
  margin: 30px 0;
  text-align: center;
}

.link-info>a{
  color: var(--accent-light-blue);
}

.file-info{
  font-size: 15px;
  opacity: 50%;
}
