<div class="icon-size">
@switch(type) {
  @case('user') {
    <icon-user [fillClass]="getFillClass()"></icon-user>
  }
  @case('close') {
    <icon-close [fillClass]="getFillClass()"></icon-close>
  }
  @case('lock') {
    <icon-lock [fillClass]="getFillClass()"></icon-lock>
  }
  @case('hidden') {
    <icon-hidden [fillClass]="getFillClass()"></icon-hidden>
  }
  @case('reveal') {
    <icon-reveal [fillClass]="getFillClass()"></icon-reveal>
  }
  @case('trash') {
    <icon-trash [fillClass]="getFillClass()"></icon-trash>
  }
  @case('folder') {
    <icon-folder [fillClass]="getFillClass()"></icon-folder>
  }
  @case('folder-lock') {
    <icon-folder-lock [fillClass]="getFillClass()"></icon-folder-lock>
  }
}
</div>
