form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}

.change-password-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-success {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: green;
}

.change-error {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: red;
}

.validation-label {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  color: red;
}
