<form [formGroup]="changePasswordForm" (submit)="onSubmit()">
  <app-common-input-field
    formControlName="current"
    type="password"
    label="Current Password"
    placeholder="********"
    [hasError]="isTouched('current') && isInvalid('current')"
    (focusin)="changePasswordForm.get('current')?.markAsTouched()"
  >
  </app-common-input-field>
  @if(isTouched('current') && getValueFromForm("current").length < 1) {
    <p class="validation-label">*This field is required</p>
  }
  @if(isTouched('current') && changePasswordForm.get("current")?.errors?.['minlength'] !== null) {
    <p class="validation-label validation-label-spacer">Must be at least 8 characters</p>
  }
  <app-common-input-field
    formControlName="password"
    type="password"
    label="New Password"
    placeholder="********"
    [hasError]="isTouched('password') && isInvalid('password')"
    (focusin)="changePasswordForm.get('password')?.markAsTouched()"
  >
  </app-common-input-field>
  @if(isTouched('password') && getValueFromForm("password").length  < 1) {
    <p class="validation-label">*This field is required</p>
  }
  @if(isTouched('password') && changePasswordForm.get("password")?.errors?.['minlength'] !== null) {
    <p class="validation-label validation-label-spacer">Must be at least 8 characters</p>
  }
  <app-common-input-field
    formControlName="repeat_password"
    type="password"
    label="Repeat Password"
    placeholder="********"
    [hasError]="isTouched('repeat_password') && isInvalid('repeat_password') || passwordMatchValidator(changePasswordForm) !== null"
    (focusin)="changePasswordForm.get('repeat_password')?.markAsTouched()"
  >
  </app-common-input-field>
  @if(isTouched('repeat_password') && getValueFromForm("repeat_password").length  < 1) {
    <p class="validation-label">*This field is required</p>
  }
  @if(isTouched('repeat_password') && passwordMatchValidator(changePasswordForm) !== null) {
        <p class="validation-label validation-label-spacer">Passwords do not match</p>
      }
  <div class="change-password-button">
    <app-button type="submit" [disabled]="changePasswordForm.invalid && !showSuccess">Change Password</app-button>
  </div>
  @if(showSuccess) {
    <div class="change-success">
      <p>Successfully changed password.</p>
    </div>
  }
  @if(showError) {
    <div class="change-error">
      <p>Current password is incorrect.</p>
    </div>
  }
</form>
