<form [formGroup]="changePasswordForm" (submit)="onSubmit()">
  <app-common-input-field formControlName="current" type="password" label="Current Password" placeholder="********"></app-common-input-field>
  <app-common-input-field formControlName="password" type="password" label="New Password" placeholder="********"></app-common-input-field>
  <app-common-input-field formControlName="repeat_password" type="password" label="Repeat Password" placeholder="********"></app-common-input-field>
  <div class="change-password-button">
    <app-button type="submit" [disabled]="changePasswordForm.invalid && !showSuccess">Change Password</app-button>
  </div>
  @if(showSuccess) {
    <div class="change-success">
      <p>Successfully changed information.</p>
    </div>
  }
</form>
