<h1>Active Links</h1>
<div class="active-links-container">
  <ul>
    <li>
      <icon-selector type="folder" color="light-beige"></icon-selector>
      <a href="#">dollyshare.com/download/dsjakdnx-jqknsxj</a>
      <div class="active-link-options">
        <button type="button" class="shared-users-button">
          <icon-selector type="user" color="semi-transparent"></icon-selector>
        </button>
        <button type="button">
          <icon-selector type="trash" color="semi-transparent"></icon-selector>
        </button>
      </div>
    </li>
    <hr />
    <li>
      <icon-selector type="folder-lock" color="light-beige"></icon-selector>
      <a href="#">dollyshare.com/download/dkslajd-dashjdklq</a>
      <div class="active-link-options">
        <button type="button" class="shared-users-button">
          <icon-selector type="user" color="semi-transparent"></icon-selector>
        </button>
        <button type="button">
          <icon-selector type="trash" color="semi-transparent"></icon-selector>
        </button>
      </div>
    </li>
    <hr />
    <li>
      <icon-selector type="folder" color="light-beige"></icon-selector>
      <a href="#">dollyshare.com/download/dsjakdnx-jqknsxj</a>
      <div class="active-link-options">
        <button type="button" class="shared-users-button">
          <icon-selector type="user" color="semi-transparent"></icon-selector>
        </button>
        <button type="button">
          <icon-selector type="trash" color="semi-transparent"></icon-selector>
        </button>
      </div>
    </li>
    <hr />
    <li>
      <icon-selector type="folder-lock" color="light-beige"></icon-selector>
      <a href="#">dollyshare.com/download/dkslajd-dashjdklq</a>
      <div class="active-link-options">
        <button type="button" class="shared-users-button">
          <icon-selector type="user" color="semi-transparent"></icon-selector>
        </button>
        <button type="button">
          <icon-selector type="trash" color="semi-transparent"></icon-selector>
        </button>
      </div>
    </li>
    <hr />
  </ul>
</div>
